<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rinc.imsys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="库存管理"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="注册"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="主页"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".FillUserinfoActivity"
            android:label="填写个人信息"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ModifyUserInfoActivity"
            android:label="修改个人信息"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ModifyPassActivity"
            android:label="修改密码"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".SimpleScannerActivity"
            android:label="扫描二维码"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".QRCodeActivity"
            android:label="生成二维码结果"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MatDetailActivity"
            android:label="材料详细信息"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ModifyMatDetailActivity"
            android:label="修改材料详细信息"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MatInRecActivity"
            android:label="材料入库记录"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MatOutRecActivity"
            android:label="材料出库记录"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MatSearchResultActivity"
            android:label="查找结果"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>