<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rinc.imsys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/sign_up"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/homepage"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".FillUserinfoActivity"
            android:label="@string/fill_userinfo"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ModifyUserInfoActivity"
            android:label="@string/modify_userinfo"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ModifyPassActivity"
            android:label="@string/modify_password"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".SimpleScannerActivity"
            android:label="@string/scan_qrcode"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".QRCodeActivity"
            android:label="@string/qrcode_result"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MatDetailActivity"
            android:label="@string/material_detail"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ModifyMatDetailActivity"
            android:label="@string/modify_material_detail"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MatInRecActivity"
            android:label="@string/material_in_record"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MatOutRecActivity"
            android:label="@string/material_out_record"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MatSearchResultActivity"
            android:label="@string/search_result"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PartDetailActivity"
            android:label="@string/part_detail"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ModifyPartDetailActivity"
            android:label="@string/modify_part_detail"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PartInRecActivity"
            android:label="@string/part_in_record"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PartOutRecActivity"
            android:label="@string/part_out_record"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PartSearchResultActivity"
            android:label="@string/search_result"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".EquipDetailActivity"
            android:label="@string/machine_detail"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ModifyEquipDetailActivity"
            android:label="@string/modify_machine_detail"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".EquipInRecActivity"
            android:label="@string/machine_in_record"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".EquipOutRecActivity"
            android:label="@string/machine_out_record"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".EquipSearchResultActivity"
            android:label="@string/search_result"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>